<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Hospede</title>
</head>

<body>

	<h1>Hospede</h1>
	<h3>
		<a class="waves-effect waves-light btn" href="/hospedes"><i
			class="material-icons left">add_circle_outline</i>Lista de hospedes</a>
	</h3>

	<div th:each="hospede : ${hospede}" class="container">
		<div class="row">
			<p>
				Nome: <span th:text="${hospede.nome}"></span>
			</p>
			<p>
				Documento: <span th:text="${hospede.documento}"></span>
			</p>
			<p>
				Telefone: <span th:text="${hospede.telefone}"></span>
			</p>
		</div>

		<form method="post">
			Data entrada:<input type="date" value="" name="dataEntrada">
			Data saida:<input type="date" value="" name="dataSaida"> <label>
				<input type="checkbox" value"1" name="adicionalVeiculo" /> <span>Adicional
					Veiculo </span>
			</label>
			</p>
			<button type="submit" class="waves-effect waves-light btn">Adicionar</button>
		</form>

	</div>

	<div class="container">
		<h5>Lista Check-ins</h5>
		<div th:each="checkin: ${checkins}">

			<div class="row">
				<div class="input-field col s3">
					<p>
						<span th:text="${#dates.format(checkin.dataEntrada, 'dd-MM-yyyy HH:mm')}"></span>

					</p>
				</div>

				<div class="input-field col s3">
					<p>
						<span th:text="${#dates.format(checkin.dataSaida, 'dd-MM-yyyy HH:mm')}"></span>
					</p>
				</div>

				<div class="input-field col s3">
					<p>
						<span th:text="${checkin.adicionalVeiculo} ? 'Sim' : 'Nao'"></span>
					</p>
				</div>

			</div>
		</div>
	</div>



	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>

</html>